body {
    background: #1E1C1C;
}

/** Globals **/
.container-index {
    display: flex;
    width: min(60%, 120rem);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/** CSS **/
.button {
    display: block;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    background-color: #be4e32;
}
.button:hover {
    cursor: pointer;
}

.list-no-style {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.URL-ADD {
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 2rem;
}

.content-app {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background: #383535;
    padding: 2rem;
    border-style: solid;
    border-color: #131111;
    box-shadow: 0px 20px 30px 10px rgb(80 80 255 / 20%);
}

.logo {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.statement {
    display: grid;
    grid-template-columns: 12fr 1fr;
    background: rgb(209, 209, 209);
    padding: 0.5rem;
    width: auto;
    border-style: solid;
    border-width: 0.05rem;
    border-color: azure;
}
.statementInfo {
    display: grid;
    grid-template-columns: 11fr 2fr 2fr;
    background: #8b7ab3;
    width: auto;
    border-style: solid;
    border-width: 0.05rem;
    border-color: black;
    margin: 0.07rem 0 0 0;
}

.statementInfo div {
    padding: 0.7rem;
}

.product {
    display: flex;
    align-items: center;
}

.productNameInfo {
    padding-left: 5rem;
}

.bg-green {
    background-color: rgb(52, 255, 130);
}

.bg-red {
    background-color: #aa543f;
}

#test {
    font-family: 'Quantico', sans-serif;
    font-weight: 700;

    margin: 4rem 0;
    margin: 6rem 2rem;
    border-style: dashed;
    padding: 2rem 6rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.oldPrice {
    border-left: solid 0.01rem black;
    border-right: solid 0.01rem black;
}

.infoData {
    background-color: #7051b9;
    font-weight: 700;
}

.width100 {
    width: 100%;
}

.backbutton {
    display: block;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0rem 2rem;
    border: none;
    background-color: #be4e32;
    transition: ease-out 0.3s;
}
.backbutton:hover {
    cursor: pointer;
    background-color: #f8ba33;
}

.nodetails {
    list-style-type: none;
}